@media (max-width: 959px) {
  img {
    display: none;
  }
}
.body-images {
  height: 150px;
  width: 150px;
}
#cloud-1,
#cloud-2 {
  position: absolute;
}
#cloud-1 {
  height: 160px;
  right: 250px;
  top: 0;
  transform: rotate(-10deg);
  width: 160px;
}
#cloud-2 {
  height: 180px;
  left: 80px;
  top: 80px;
  transform: rotate(10deg);
  width: 180px;
}
#box-model {
  border: 5px solid #99A799;
  height: auto;
  position: absolute;
  right: -57%;
  top: 10px;
  width: 250px;
}
